.main {
    height: 100vh;
    overflow: hidden;
    width: 100%;
    color: white;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
@media only screen and (max-width: 1280px){
    .main {
        background-size:contain;
    }
}
.body{
    padding-left: 157px;
    margin-top: 120px;
}
.titleContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.title{
    font-family: graphik-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    
    text-transform: uppercase;
    
    color: #FFFFFF;
}
.paragraph{
    padding-top: 15vh;
    font-family: graphik-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    
    text-transform: uppercase;
    
    color: #FFFFFF;
}
.button{
    width: 168px;
    height: 54px;
    background-image: url(../../../static/icons/buttonBg.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.buttonTitle{
    font-family: graphik-regular;
    font-weight: 700;
    font-size: 14px;
    color: white;  

}
.bgCross{
    position: absolute;
    top: 75px;
    left: -60px;
    z-index: -1;
    width: 215px;
    height: 215px;
}
.bgCross img{
    width: 215px;
    height: 215px;
}

/* ================================================================================================================ */

/* ___________________________________________________Mobile Style_________________________________________________ */

/* ================================================================================================================ */

.mblMain{
    position: relative;
}
.mblBgCross{
    position: absolute;
    right: 0px;
    top: -50px;
}
.mblBgCross img{
    height: 141px;
    width: 125px;
}
.mblTextContainer{
    padding-top: 70px;
    padding-left: 24px;
}
.mblTitle{
    font-family: graphik-regular;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.mblParagraph{
    margin-top: 60px;
    font-family: graphik-regular;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 20px;
}
