.main {
    height: 100vh;
    overflow: hidden;
    width: 100%;
    color: white;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
@media only screen and (max-width: 1280px){
    .main {
        background-size:contain;
    }
}
.body{
    padding-left: 157px;
    margin-top: 120px;
}
.titleContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.title{
    font-family: graphik-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    
    text-transform: uppercase;
    
    color: #FFFFFF;
}
.paragraph{
    padding-right: 0%;
    padding-top: 10vh;
    font-family: graphik-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    color: #fff;
   z-index: 1;
   
}
@media screen and (max-width: 1400px){
    .paragraph{
        padding-top: 8vh;
        font-size: 40px;
        line-height: 50px;
    }
}
@media screen and (max-width: 1250px){
    .paragraph{
        padding-top: 7vh;
        font-size: 36px;
        line-height: 45px;
    }
}
.button{
    width: 168px;
    height: 54px;
    background-image: url(../../../static/icons/buttonBg.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.buttonTitle{
    font-family: graphik-regular;
    font-weight: 700;
    font-size: 14px;
    color: white;  

}
.bgCross{
    position: absolute;
    top: 75px;
    left: -60px;
    z-index: 999;
    width: 215px;
    height: 215px;
}
.bgCross img{
    width: 215px;
    height: 215px;
}

@media only screen and (max-width: 1100px){
    .title{
        font-size: 40px;
    }
    .paragraph{
        padding-top: 15vh;
        font-size: 30px;
    }
}
@media only screen and (max-width: 900px){
    .title{
        margin-top: 20vh;
        font-size: 30px;
    }
    .paragraph{
        padding-top: 15vh;
        font-size: 20px;
        line-height: 30px;
    }
    .boxesContainer {
        display: none;
    }
}

@media only screen and (max-width: 825px){
    .title{
        margin-top: 20vh;
        font-size: 30px;
    }
    .paragraph{
        padding-top: 15vh;
        font-size: 20px;
        line-height: 30px;
    }
}

/* ================================================================================================================ */

/* ___________________________________________________Mobile Style_________________________________________________ */

/* ================================================================================================================ */

.mblMain{
    position: relative;
}
.mblBgCross{
    position: absolute;
    right: 0px;
    top: -50px;
}
.mblBgCross img{
    height: 141px;
    width: 125px;
}
.mblTextContainer{
    padding-top: 70px;
    padding-left: 24px;
}
.mblTitle{
    font-family: graphik-regular;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.mblParagraph{
    margin-top: 60px;
    font-family: graphik-regular;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 20px;
}


/* ====================================================Background Boxes Style==================================================== */

.bgBoxes {
    position:absolute;
    top: 0px;
   right:-160px;
    z-index: -1;
    height: 80vh;
    width: 830px;
}

.boxesContainer {
    width: 100%;
    height: 100%;
    position: relative;
}
.lrgBox {
    animation: mymove 4s ease-out 0s alternate infinite none running;
}
.mdmBox {
    animation: mymove 4s ease-out 6s alternate infinite none running;
}
.smallBox {
    animation: mymove 4s ease-out 8s alternate infinite none running;
}



@keyframes mymove {
    from {
        transform: scale(0.3) ;
        filter: blur(4px);
        opacity: 0.6;
    }
    to {
        transform: scale(1) ;
        filter: blur(0px);
        opacity:1;
    }
}

.containerRow1{
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.containerRow2 {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 65px;
    margin-top: -28px;

    animation-name: floating;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}


@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 5px); }
    to   { transform: translate(0, -0px); }    
}
.containerRow3 {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 0px;
    margin-top: -28px;

    animation-name: floating;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.containerRow4 {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 65px;
    margin-top: -28px;

    animation-name: floating;
    animation-duration: 2s;
    animation-delay: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.containerRow5 {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 268px;
    margin-top: -28px;

    animation-name: floating;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.containerRow6 {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 335px;
    margin-top: -28px;

    animation-name: floating;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.firstBox {
    width: 95px;
    height: 95px;
   
}

.bgBoxesHide {
    position: absolute;
    top: 0px;
    left: -610px;
    z-index: -1;
}

.bgBoxesHide .boxesImage {
    height: 80vh;
    width: auto;
    transform: scale(0);
    opacity: 0;
    transition: ease-in-out .5s;
}

.bgBoxes .boxesImage {
    height: 80vh;
    transform: scale(1);
    opacity: 1;
    transition: ease-in-out .5s;
    width: auto;
}

/* ====================================================Background Boxes Style End======================================= */

