.main {
    margin-top: 10vh;
    height: 80vh;
    overflow: hidden;
    width: 100%;
    color: white;
    background-image: url(../../../static/images/contact/bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.reviewContainer{
    right: 5%;
    top: 15%;
    /* transform: translate(-50%, 0); */
    height: 400px;
    width: 300px;
    position: absolute;
}
.body{
    position: relative;
    height: 90%;
    width: 100%;
}
.midContainer {
    width: 100%;
    margin-left: 30%;
    margin-right: 30%;
}

.heading {
    font-family: graphik-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 44px;
    /* identical to box height */
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.topRow {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

.topRow>input {
    height: 35px;
    width: 47%;
    border: none;
    outline: none;
    border-bottom: 1px solid #C0C0C0;
    background-color: transparent;

    font-family: graphik-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */
    color: #808080;
}

.midRow {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.midRow>input {
    height: 35px;
    width: 47%;
    border: none;
    outline: none;
    border-bottom: 1px solid #C0C0C0;
    background-color: transparent;

    font-family: graphik-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */
    color: #808080;
}

.lowerRow {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.lowerRow>input {
    height: 100px;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid #C0C0C0;
    background-color: transparent;

    font-family: graphik-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */
    color: #808080;
}

.btn {
    width: 168px;
    height: 54px;
    font-family: graphik-regular;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out .4s;
    background: url(../../../static/images/common/btnBg.png);
}
.btn:hover {
    transition: ease-in-out .4s;
    background: url(../../../static/images/common/btnBgHover.png);
}

.btnContainer {
    margin-top: 45px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.copyrightContainer {
    position: absolute;
    bottom: 0px;
    right: 80px;
}

.copyRight {
    font-family: graphik-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */
    color: #7A858D;
}

.followContainer {
    position: absolute;
    bottom: 0px;
    left: 80px;
}

.follow {
    font-family: graphik-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 22px;
    /* identical to box height */
    text-transform: uppercase;
    color: #FFFFFF;

}
.tabs{
    display: flex;
    align-items: center;
}
.tab1 {
    font-family: graphik-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    margin-right: 20px;
    margin-bottom: 15px;
    line-height: 15px;
    width: 26px;
    height: 26px;
    background-image: url(../../../static/images/contact/insta.png);
    text-transform: uppercase;
    color: #7A858D;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: ease-in-out .4s;
}
.tab1:hover {
    background-image: url(../../../static/images/contact/instaHv.png);
    cursor: pointer;
}

.tab2 {
    font-family: graphik-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 15px;
    line-height: 15px;
    width: 26px;
    height: 26px;
    background-image: url(../../../static/images/contact/facebook.png);
    text-transform: uppercase;
    color: #7A858D;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: ease-in-out .4s;
}
.tab2:hover {
    background-image: url(../../../static/images/contact/facebookHv.png);
    cursor: pointer;
}

.tab3 {
    font-family: graphik-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    margin-right: 20px;
    margin-bottom: 15px;
    line-height: 15px;
    width: 26px;
    height: 26px;
    background-image: url(../../../static/images/contact/twitter.png);
    text-transform: uppercase;
    color: #7A858D;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: ease-in-out .4s;
}
.tab3:hover {
    background-image: url(../../../static/images/contact/twitterHv.png);
    cursor: pointer;
}

.tab4 {
    font-family: graphik-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    margin-right: 20px;
    margin-bottom: 15px;
    line-height: 15px;
    width: 26px;
    height: 26px;
    background-image: url(../../../static/images/contact/linkedin.png);
    text-transform: uppercase;
    color: #7A858D;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: ease-in-out .4s;
}
.tab4:hover {
    background-image: url(../../../static/images/contact/linkedinHv.png);
    cursor: pointer;
}

.tab5 {
    font-family: graphik-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    margin-right: 20px;
    margin-bottom: 15px;
    line-height: 15px;
    width: 26px;
    height: 26px;
    background-image: url(../../../static/images/contact/youtube.png);
    text-transform: uppercase;
    color: #7A858D;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: ease-in-out .4s;
}
.tab5:hover {
    background-image: url(../../../static/images/contact/youtubeHv.png);
    cursor: pointer;
}

.tab6 {
    font-family: graphik-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    margin-right: 20px;
    margin-bottom: 15px;
    line-height: 15px;
    width: 26px;
    height: 26px;
    background-image: url(../../../static/images/contact/vimeo.png);
    text-transform: uppercase;
    color: #7A858D;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: ease-in-out .4s;
}
.tab6:hover {
    background-image: url(../../../static/images/contact/vimeoHv.png);
    cursor: pointer;
}
