.container {
    height: 100vh;
    overflow: hidden;
    width: 100%;
}

.headings {
    margin-left: -11%;
    margin-top: 0%;
}

.magic {
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

.videoBody {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    z-index: 3;
    backdrop-filter: blur(5px);
    align-items: center;
    justify-content: center;
    opacity: 1;
    animation-name: scale;
    animation-duration: .3s;
    animation-timing-function: linear;
}

@keyframes scale {
    from {
        transform: scale(0.8);
    }

    to {
        transform: scale(1);
    }
}
@keyframes scaleDown {
    from {
        transform: scale(1);
        display: flex;
    }

    to {
        transform: scale(0);
        display: none;
    }
}

.videoBodyHide {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    opacity: 0;
    backdrop-filter: blur(5px);
    display: none;
    align-items: center;
    transition: ease-in-out 2s;
    justify-content: center;
    animation-name: scaleDown;
    animation-duration: 1s;
    animation-timing-function: linear;

}

.box {
    width: 150px;
    height: 150px;
    border-radius: 1em;
    background-color: #f9f07e;
    margin-left: auto;
    margin-right: auto;
}

.bgImgContainer {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out .8s;
    opacity: 1;
}

.bgImgContainerHide {
    width: 60vw;
    height: 60vh;
    position: absolute;
    z-index: -1;
    display: flex;
    align-items: center;
    opacity: 0;
    justify-content: center;
    transition: ease-in-out .8s;
}

.bgImage {
    height: 100%;
    z-index: -1;
    position: absolute;

    -webkit-mask-image: url(../../../static/images/home/union.webp);
    -webkit-mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;

    mask-image: url(../../../static/images/home/union.webp);
    mask-position: center center;
    mask-repeat: no-repeat;
    mask-size: contain;
}

.main {
    height: 100vh;
    overflow: hidden;
    width: 100%;
    color: white;
    /* background-image: url(../../../static/images/home/union.webp); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform:  scale(1);
    opacity: 1;
    transition: ease-in-out .5s;
}
.contentHide{
    height: 100%;
    display: flex;
    flex-direction: column;
    transform:  scale(0.8);
    opacity: 0;
    transition: ease-in-out .5s;
    justify-content: center;
}
.mainHeading1 {
    font-family: graphik-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 85px;
    line-height: 90px;
    margin-left: -3%;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
}

.mainHeading2 {
    font-family: graphik-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 85px;
    line-height: 90px;
    text-align: center;
    margin-left: -23%;
    margin-top: 20px;
    /* identical to box height */
    text-transform: uppercase;
    color: #FFFFFF;
}

.mainHeading3 {
    font-family: graphik-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 85px;
    line-height: 90px;
    /* identical to box height */
    text-align: center;
    margin-top: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
}

@media only screen and (max-width:768px) {
    .mainHeading1 {
        font-size: 35px;
    }

    .mainHeading2 {
        font-size: 35px;
    }

    .mainHeading3 {
        font-size: 35px;
    }
}

@media only screen and (max-width:400px) {
    .mainHeading1 {
        font-size: 25px;
    }

    .mainHeading2 {
        font-size: 25px;
    }

    .mainHeading3 {
        font-size: 25px;
    }
}

.playIconContainer {
    display: flex;
    justify-content: center;
}

.playIcon {
    width: 68px;
    height: 68px;
    cursor: pointer;
    position: absolute;
    bottom: 110px;
}

.videoContainer {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video {
    margin-top: 20px;
    z-index: 999;
}

.videoBox {
    position: relative;
    width: 65vw;
}

.videoCloseIcon {
    position: absolute;
    height: 25px;
    width: 25px;
    right: 20px;
    top: 35px;
    z-index: 200;
    cursor: pointer;
}

@media only screen and (max-width:1550px) {
    .mainHeading1 {
        margin-left: 2%;
    }

    .mainHeading2 {
        margin-left: -13%;
    }

    .mainHeading3 {
        margin-left: 4%;
    }
}

@media only screen and (max-width:1350px) {
    .videoBox {
        position: relative;
        width: 70vw;
    }

    .mainHeading1 {
        margin-left: 3%;
    }

    .mainHeading2 {
        margin-left: -10%;
    }

    .mainHeading3 {
        margin-left: 9%;
    }
}

@media only screen and (max-width:1250px) {
    .videoBox {
        position: relative;
        width: 80vw;
    }

    .mainHeading1 {
        margin-left: 12%;
    }

    .mainHeading2 {
        margin-left: -3%;
    }

    .mainHeading3 {
        margin-left: 13%;
    }
}

@media only screen and (max-width:1050px) {
    .videoBox {
        position: relative;
        width: 90vw;
    }

    .mainHeading1 {
        margin-left: 0%;
    }

    .mainHeading2 {
        margin-left: 0%;
    }

    .mainHeading3 {
        margin-left: 0%;
    }
}

@media only screen and (max-width:768px) {
    .videoBox {
        position: relative;
        width: 95vw;
    }

    .videoCloseIcon {
        height: 20px;
        width: 20px;
        right: 0px;
        top: 25px;
        z-index: 200;
        cursor: pointer;
    }
}

.bottomTextContainer {
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    right: 38px;
    bottom: 10px;
}

.bottomText {
    font-family: graphik-regular;
    font-weight: 400;
    font-size: 14px;
    margin-right: 20px;
}

.rightArrow {
    width: 42px;
    cursor: pointer;
}

/* ================================================================================================================ */

/* ___________________________________________________Mobile Style_________________________________________________ */

/* ================================================================================================================ */


.mblBody {
    background-image: url(../../../static/images/home/mblBg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
.midContainer{
    margin-top: -70px;
}
.mblHeadingsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.mblTopHeading {
    font-family: graphik-regular;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 4px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.mblMidHeading {
    font-family: graphik-regular;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 4px;
    margin-left: -40%;
    text-transform: uppercase;
    color: #FFFFFF;
}

.mblBtmHeading {
    font-family: graphik-regular;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 4px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.mblPlayIcon {
    width: 70px;
    height: 70px;
    margin-top: 120px;
}

.mblScrollTxtCont {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 50px;
}

.mblScrollText {
    font-family: graphik-regular;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    line-height: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.mblDownArrow {
    text-align: center;
}

/* video style */
.mblVideoBody {
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    z-index: 3;
    background: black;
    align-items: center;
    justify-content: center;
}

.mblVideoContainer {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mblVideoBox {
    position: relative;
    width: 100vw;
}

.mblVideoCloseIcon {
    position: absolute;
    height: 15px;
    width: 15px;
    right: 10px;
    top: -15px;
    z-index: 200;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid white;
    padding: 5px;
}

.mblVideo {
    margin-top: 20px;
    z-index: 999;
}
@media only screen and (max-width: 350px) {

.mblMidHeading {
    font-family: graphik-regular;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 4px;
    margin-left: 0%;
    text-transform: uppercase;
    color: #FFFFFF;
}
}
@media only screen and (max-height: 650px) {

    .midContainer{
        margin-top: 20px;
    }

    .mblScrollTxtCont {
        bottom: 10px;
    }
    .mblPlayIcon {
        width: 70px;
        height: 70px;
        margin-top: 10px;
    }
}


.loading {
    color: white;
    font-family: graphik-regular;
    font-size: 22px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
}

/**
 * ==============================================
 * Dot Typing
 * ==============================================
 */
.dotTyping {
    position: relative;
    left: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #ffffff;
    color: #ffffff;
    box-shadow: 9984px 0 0 0 #ffffff, 9999px 0 0 0 #ffffff, 10014px 0 0 0 #ffffff;
    animation: dotTyping 1.5s infinite linear;
}

@keyframes dotTyping {
    0% {
        box-shadow: 9984px 0 0 0 #ffffff, 9999px 0 0 0 #ffffff, 10014px 0 0 0 #ffffff;
    }

    16.667% {
        box-shadow: 9984px -10px 0 0 #ffffff, 9999px 0 0 0 #ffffff, 10014px 0 0 0 #ffffff;
    }

    33.333% {
        box-shadow: 9984px 0 0 0 #ffffff, 9999px 0 0 0 #ffffff, 10014px 0 0 0 #ffffff;
    }

    50% {
        box-shadow: 9984px 0 0 0 #ffffff, 9999px -10px 0 0 #ffffff, 10014px 0 0 0 #ffffff;
    }

    66.667% {
        box-shadow: 9984px 0 0 0 #ffffff, 9999px 0 0 0 #ffffff, 10014px 0 0 0 #ffffff;
    }

    83.333% {
        box-shadow: 9984px 0 0 0 #ffffff, 9999px 0 0 0 #ffffff, 10014px -10px 0 0 #ffffff;
    }

    100% {
        box-shadow: 9984px 0 0 0 #ffffff, 9999px 0 0 0 #ffffff, 10014px 0 0 0 #ffffff;
    }
}