.container{
    height: 100vh;
    overflow: hidden;
    width: 100%;
}
.main {
    height: 100vh;
    overflow: hidden;
    width: 100%;
    color: white;
    background-image: url(../../../static/images/home/union.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 70px;
}
.mainHeading1 {
    font-family: graphik-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 85px;
    line-height: 90px;
    margin-top: 20px;
    /* identical to box height */
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
}
.mainHeading2 {
    font-family: graphik-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 85px;
    line-height: 90px;
    margin-top: 20px;
    text-align: left;
    padding-left: 7%;
    /* identical to box height */
    text-transform: uppercase;
    color: #FFFFFF;
}
.mainHeading3 {
    font-family: graphik-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 85px;
    line-height: 90px;
    margin-top: 20px;
    /* identical to box height */
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
@media only screen and (max-width:768px) {
    .mainHeading1 {
        font-size: 35px;
    }
    .mainHeading2 {
        font-size: 35px;
    }
    .mainHeading3 {
        font-size: 35px;
    }
}
@media only screen and (max-width:400px) {
    .mainHeading1 {
        font-size: 25px;
    }
    .mainHeading2 {
        font-size: 25px;
    }
    .mainHeading3 {
        font-size: 25px;
    }
}
.playIconContainer{
    display: flex;
    justify-content: center;
    padding-top: 68px;
}
.playIcon{
    cursor: pointer;  
}
.videoContainer{
    position: relative;
    width: 100vw;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.video{
    margin-top: 20px;
    z-index: 999;

}
.videoBox{
    position: relative;
    width: 65vw;
}
.videoCloseIcon{
    position: absolute; 
    height: 25px;
    width:  25px;
    right: 20px;
    top: 35px;
    z-index: 200;
    cursor: pointer;
 }
@media only screen and (max-width:1350px){
    .videoBox{
        position: relative;
        width: 70vw;
    }
}
@media only screen and (max-width:1250px){
    .videoBox{
        position: relative;
        width: 80vw;
    }
}
@media only screen and (max-width:1050px){
    .videoBox{
        position: relative;
        width: 90vw;
    }
}
@media only screen and (max-width:768px){
    .videoBox{
        position: relative;
        width: 95vw;
    }
    .videoCloseIcon{
        height: 20px;
        width:  20px;
        right: 0px;
        top: 25px;
        z-index: 200;
        cursor: pointer;
     }
}

.bottomTextContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.bottomText{
    cursor: pointer;
    font-family: graphik-regular;
    font-weight: 400;
    font-size: 14px;
    margin-right: 20px;
}
.rightArrow{
    margin-right: 38px;
    cursor: pointer;
}