.main {
    height: 100vh;
    overflow: hidden;
    width: 100%;
    color: white;
    background-image: url(../../../static/images/home/union.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mainHeading1 {
    font-family: graphik-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 85px;
    line-height: 90px;
    margin-top: -40px;
    /* identical to box height */
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
}
.mainHeading2 {
    font-family: graphik-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 85px;
    line-height: 90px;
    margin-top: -40px;
    text-align: left;
    padding-left: 7%;
    /* identical to box height */
    text-transform: uppercase;
    color: #FFFFFF;
}
.mainHeading3 {
    font-family: graphik-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 85px;
    line-height: 90px;
    margin-top: -40px;
    /* identical to box height */
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
@media only screen and (max-width:768px) {
    .mainHeading1 {
        font-size: 35px;
    }
    .mainHeading2 {
        font-size: 35px;
    }
    .mainHeading3 {
        font-size: 35px;
    }
}
@media only screen and (max-width:400px) {
    .mainHeading1 {
        font-size: 25px;
    }
    .mainHeading2 {
        font-size: 25px;
    }
    .mainHeading3 {
        font-size: 25px;
    }
}