.main {
    height: auto;
    height: 100vh;
    width: 100%;
    background-color: #0e0e0e;
}
.header{
    position: relative;
    width: 100vw;
}
.headerContainer{
    top: 0px;
    position: fixed;
    z-index: 2;
}
