.main {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;

}

.boxDetailsHide {
    position: absolute;
    font-family: graphik-regular;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    width: 170%;
    top: 60px;
    line-height: 18px;
    opacity: 0;
    text-align: center;
    color: #FFFFFF;
    transition: ease-in-out .4s;
}

.boxDetails {
    transition: ease-in-out .4s;
    opacity: 1;
    position: absolute;
    font-family: graphik-regular;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    width: 170%;
    top: 80px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}

.dataContainer {
    transform: rotate(-45deg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 0px;
    margin-top: 0px ;
}

.bgContainer {
    position: relative;
    z-index: 500;
    width: 70%;
    height: 70%;
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
}

.imageContainer5:hover~.imageContainer3 {
    display: none;
}

.heading {
    font-family: graphik-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 66px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-left: 40px;
    margin-top: 60px;
}

.imageText {
    font-family: graphik-regular;
    font-weight: 600;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 17px;
    z-index: 300;
}

.bottomRow {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: -30px;
    left: 30px;
}

.bottomRow:hover {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: -30px;
    left: 30px;
    z-index: 22;
}

.imageContainer1 {
    background-image: url(../../../static/images/process/1.webp);
    background-size: contain;
    background-repeat: no-repeat;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: ease-in-out .3s;
}

.imageContainer1Active {
    background-image: url(../../../static/images/process/1.webp);
    background-size: contain;
    background-repeat: no-repeat;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: scale(1.2);
    transition: ease-in-out .3s;
}

.imageContainer1Blur {
    background-image: url(../../../static/images/process/1.webp);
    background-size: contain;
    background-repeat: no-repeat;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    filter: blur(3px);
    transition: ease-in-out .3s;
    transform: scale(0.8);

}


.imageContainer2 {
    background-image: url(../../../static/images/process/2.webp);
    background-size: contain;
    background-repeat: no-repeat;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 30px;
    transition: ease-in-out .3s;

}

.imageContainer2Active {
    background-image: url(../../../static/images/process/2.webp);
    background-size: contain;
    background-repeat: no-repeat;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 30px;
    transform: scale(1.2);
    transition: ease-in-out .3s;

}

.imageContainer2Blur {
    background-image: url(../../../static/images/process/2.webp);
    background-size: contain;
    background-repeat: no-repeat;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 30px;
    filter: blur(3px);
    transition: ease-in-out .3s;
    transform: scale(0.8);


}



.midRow {
    display: flex;
    width: 100%;
    position: absolute;
    left: 220px;
    bottom: 150px;
}

.imageContainer3 {
    background-image: url(../../../static/images/process/planning.webp);
    background-size: contain;
    background-repeat: no-repeat;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: ease-in-out .3s;
}

.imageContainer3Blur {
    background-image: url(../../../static/images/process/planning.webp);
    background-size: contain;
    background-repeat: no-repeat;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    filter: blur(3px);
    transition: ease-in-out .3s;
    transform: scale(0.8);

}

.imageContainer3Active {
    background-image: url(../../../static/images/process/planning.webp);
    background-size: contain;
    background-repeat: no-repeat;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: scale(1.2);
    transition: ease-in-out .3s;
}

.imageContainer4 {
    background-image: url(../../../static/images/process/4.webp);
    background-size: contain;
    background-repeat: no-repeat;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 30px;
    transition: ease-in-out .3s;

}

.imageContainer4Active {
    background-image: url(../../../static/images/process/4.webp);
    background-size: contain;
    background-repeat: no-repeat;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 30px;
    transition: ease-in-out .3s;
    transform: scale(1.2);
}

.imageContainer4Blur {
    transform: scale(0.8);
    background-image: url(../../../static/images/process/4.webp);
    background-size: contain;
    background-repeat: no-repeat;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 30px;
    transition: ease-in-out .3s;
    filter: blur(3px);
}

.topRow {
    display: flex;
    width: 100%;
    position: absolute;
    left: 757px;
    bottom: 332px;
}



.imgItem {
    z-index: 300;
    /* transform: rotate(-45deg); */

}

.imageContainer5 {
    background-image: url(../../../static/images/process/5.webp);
    background-size: contain;
    background-repeat: no-repeat;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 30px;
    transition: ease-in-out .3s;
    /* pointer-events: none; */
}

.imageContainer5Active {
    background-image: url(../../../static/images/process/5.webp);
    background-size: contain;
    background-repeat: no-repeat;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 30px;
    transition: ease-in-out .3s;
    transform: scale(1.2);
}

.imageContainer5Blur {
    filter: blur(3px);
    background-image: url(../../../static/images/process/5.webp);
    background-size: contain;
    background-repeat: no-repeat;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 30px;
    transform: scale(0.8);
    transition: ease-in-out .3s;
}


/* ================================================================================================================ */

/* ___________________________________________________Mobile Style_________________________________________________ */

/* ================================================================================================================ */

.mblMainContainer {
    margin-top: 30px;
    position: relative;
    width: auto;
    height: 85vw;
    margin-left: 7.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: contain;
    background-repeat: no-repeat;
}

.mblIcon {
    margin-top: -40px;
    height: 35px;
    width: auto;
    margin-left: -7.5%;
}

.mblTitle {
    margin-left: -7.5%;
    font-family: graphik-regular;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF
}

.mblDescription {
    margin-top: -5px;
    margin-left: -7.5%;
    font-family: graphik-regular;
    font-style: normal;
    font-weight: 400;
    width: 64%;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}

.mblHeading {
    margin-top: 50px;
    font-family: graphik-regular;
    margin-left: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
}
@media only screen and (max-width: 1100px) {
    .boxDetailsHide {
        font-size: 9px;
        top: 60px;
        line-height: 14px;
    }
    
    .boxDetails {
        font-size: 9px;
        width: 170%;
        top: 60px;
        line-height: 14px;
    }
    .dataContainer {
      margin-top: -50px;
      margin-left: -50px;
    }
    .imgItem{
        width: auto;
        height: 30px;
    }
    .imageText {
        font-size: 14px;
        margin-top: 17px;
    }
    .topRow {
        left: 557px;
        bottom: 252px;
    }
    .midRow {
        left: 170px;
        bottom: 110px;
    }
    .heading {
        font-size: 40px;
    }
    .imageContainer5 {
        width: 250px;
        height: 250px;
        margin-left: 30px;
    }
    
    .imageContainer5Active {
        width: 250px;
        height: 250px;
        margin-left: 30px;
    }
    
    .imageContainer5Blur {
        width: 250px;
        height: 250px;
        margin-left: 30px;
    }
/* 4 */
    .imageContainer4 {
        width: 250px;
        height: 250px;
        margin-left: 30px;
    }
    
    .imageContainer4Active {
        width: 250px;
        height: 250px;
        margin-left: 30px;
    }
    
    .imageContainer4Blur {
        width: 250px;
        height: 250px;
        margin-left: 30px;
    }

    /* 3 */
    .imageContainer3 {
        width: 250px;
        height: 250px;
    }
    
    .imageContainer3Active {
        width: 250px;
        height: 250px;
    }
    
    .imageContainer3Blur {
        width: 250px;
        height: 250px;
    }
     /* 2 */
     .imageContainer2 {
        width: 250px;
        margin-left: 30px;
        height: 250px;
    }
    
    .imageContainer2Active {
        width: 250px;
        margin-left: 30px;
        height: 250px;
    }
    
    .imageContainer2Blur {
        width: 250px;
        margin-left: 30px;
        height: 250px;
    }
         /* 1 */
         .imageContainer1 {
            width: 250px;
            height: 250px;
        }
        
        .imageContainer1Active {
            width: 250px;
            height: 250px;
        }
        
        .imageContainer1Blur {
            width: 250px;
            height: 250px;
        }

}
@media only screen and (max-width: 800px) {
    .boxDetailsHide {
        font-size: 8px;
        top: 50px;
        line-height: 14px;
    }
    
    .boxDetails {
        font-size: 8px;
        width: 170%;
        top: 50px;
        line-height: 14px;
    }
    .dataContainer {
      margin-top: -30px;
      margin-left: -30px;
    }
    .imgItem{
        width: auto;
        height: 25px;
    }
    .imageText {
        font-size: 12px;
        margin-top: 10px;
    }
    .topRow {
        left: 457px;
        bottom: 192px;
    }
    .midRow {
        left: 145px;
        bottom: 80px;
    }
    .heading {
        font-size: 40px;
    }
    .imageContainer5 {
        width: 200px;
        height: 200px;
        margin-left: 30px;
    }
    
    .imageContainer5Active {
        width: 200px;
        height: 200px;
        margin-left: 30px;
    }
    
    .imageContainer5Blur {
        width: 200px;
        height: 200px;
        margin-left: 30px;
    }
/* 4 */
    .imageContainer4 {
        width: 200px;
        height: 200px;
        margin-left: 30px;
    }
    
    .imageContainer4Active {
        width: 200px;
        height: 200px;
        margin-left: 30px;
    }
    
    .imageContainer4Blur {
        width: 200px;
        height: 200px;
        margin-left: 30px;
    }

    /* 3 */
    .imageContainer3 {
        width: 200px;
        height: 200px;
    }
    
    .imageContainer3Active {
        width: 200px;
        height: 200px;
    }
    
    .imageContainer3Blur {
        width: 200px;
        height: 200px;
    }
     /* 2 */
     .imageContainer2 {
        width: 200px;
        margin-left: 30px;
        height: 200px;
    }
    
    .imageContainer2Active {
        width: 200px;
        margin-left: 30px;
        height: 200px;
    }
    
    .imageContainer2Blur {
        width: 200px;
        margin-left: 30px;
        height: 200px;
    }
         /* 1 */
         .imageContainer1 {
            width: 200px;
            height: 200px;
        }
        
        .imageContainer1Active {
            width: 200px;
            height: 200px;
        }
        
        .imageContainer1Blur {
            width: 200px;
            height: 200px;
        }

}
@media only screen and (max-height: 650px) {
    .mblTitle {
        font-size: 18px;
    }

    .mblDescription {
        width: 60%;
        font-size: 12px;
        line-height: 14px;
    }

    .mblIcon {
        margin-top: -30px;
        height: 35px;
        width: auto;
        margin-left: -7.5%;
    }
}