.main {
    height: 100vh;
    overflow: hidden;
    width: 100%;
    color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: left;
}

.heading {
    margin-top: 100px;
    margin-left: 45px;
    font-family: graphik-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 53px;
    /* identical to box height */
    text-transform: uppercase;
    color: #FFFFFF;
}

.imagesContainer {
    margin-top: 40px;
    margin-left: 45px;
    margin-right: 45px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.imgItem {
    height: 30vw;
    width: 25vw;
}

.imgCont {
    position: relative;
    transition: ease-in-out .3s;
}


.imagesContainer:hover .imgCont:hover {
    transform: scale(1.1);
    transition: ease-in-out .5s;
}

.imgText {
    position: absolute;
    top: 4px;
    left: 25px;

    font-family: graphik-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 0px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.imglowerText {
    position: absolute;
    top: 50px;
    left: 25px;
    opacity: 0;
    transition: ease-in-out .5s;
    font-family: graphik-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 26px;
    color: #FFFFFF;
}

.imgCont:hover>.imglowerText {
    position: absolute;
    top: 80px;
    left: 25px;
    opacity: 1;
    transition: ease-in-out .5s;
    font-family: graphik-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 26px;
    color: #FFFFFF;
}

.playIcon {
    position: absolute;
    width: 67.88px;
    height: 67.88px;
    bottom: 25px;
    left: 45px;
    transition: ease-in-out .5s;
    opacity: 0;
}

.playIcon:hover {
    cursor: pointer;
}

.imgCont:hover>.playIcon {
    position: absolute;
    width: 67.88px;
    height: 67.88px;
    bottom: 55px;
    left: 45px;
    transition: ease-in-out .5s;
    opacity: 1;
}

.bgBoxes {
    position: absolute;
    top: 0px;
    left: -400px;
    z-index: -1;
}

.videoContainer{
    position: relative;
    width: 100vw;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.videoBox{
    position: relative;
    width: 65vw;
}
.videoCloseIcon{
    position: absolute; 
    height: 25px;
    width:  25px;
    right: 20px;
    top: 35px;
    z-index: 200;
    cursor: pointer;
 }
 .video{
    margin-top: 20px;
    z-index: 999;

}
 @media only screen and (max-width:1350px){
    .videoBox{
        position: relative;
        width: 70vw;
    }
}
@media only screen and (max-width:1250px){
    .videoBox{
        position: relative;
        width: 80vw;
    }
}
@media only screen and (max-width:1050px){
    .videoBox{
        position: relative;
        width: 90vw;
    }
}
@media only screen and (max-width:768px){
    .videoBox{
        position: relative;
        width: 95vw;
    }
    .videoCloseIcon{
        height: 20px;
        width:  20px;
        right: 0px;
        top: 25px;
        z-index: 200;
        cursor: pointer;
     }
}