.main {
    height: 100vh;
    overflow: hidden;
    width: 100%;
    color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: left;
    position: relative;
}

.upperContainer {
    margin-top: 80px;
    margin-bottom: 50px;
    margin-left: 10%;
}

.heading {
    font-family: graphik-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 66px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.btn {
    width: 168px;
    height: 54px;
    margin-top: -10px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: graphik-regular;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    background: url(../../../static/images/common/btnBg.png);
    transition: ease-in-out .4s;
}
.btn:hover {
    background: url(../../../static/images/common/btnBgHover.png);
    transition: ease-in-out .4s;
    cursor: pointer;
}

.imagesContainer {
    width: 100%;
    height: 100%;
}

.topContainer {
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
}

.bottomContainer {
    display: flex;
    justify-content: space-between;
    padding-left: 22%;
    margin-right: -10%;
    margin-top: -6.5%;
}

.singleImgContainer {
    width: 16vw;
    height: 16vw;
    overflow: hidden;
    transition: ease-in-out .4s;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.singleImgContainer:hover {
    transform: scale(1.6);
    transition: ease-in-out .4s;
    z-index: 200;
}

.icon {
    position: absolute;
    left: 38%;
    bottom: 0px;
    width: 60px;
    height: 60px;
    opacity: 0;
}

.imgTop {
    width: 100%;
    object-fit: cover;
}

.bgImg {
    position: absolute;
    right: 109px;
    top: 130px;
}

.txtContainer {
    position: absolute;
    overflow: hidden;
    width: 70%;
    padding-top: 1%;
    opacity: 0;
}

.title {
    font-family: graphik-regular;
    text-align: left;
    padding-left: 20px;
    font-style: normal;
    font-weight: 600;
    padding-right: 10px;
    font-size: 13px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.description {
    width: 100%;
    text-align: left;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: -13px;
    font-family: graphik-regular;
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 13px;
    color: #FFFFFF;
}
.bgImgBtm{
    position: absolute;
    left: 25px;
    bottom: 0px;
}