.backArrow {
    margin-top: 60px;
    margin-left: 40px;
    cursor: pointer;
}

.contantContainer {
    padding-left: 135px;
    padding-right: 135px;
}

.title {
    color: #fff;
    font-family: graphik-regular;
    font-size: 60px;
    text-transform: uppercase;

}

.tabsContainer {
    display: flex;
    justify-content: space-between;
}

.selectTab {
    font-family: graphik-regular;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    padding-left: 10px;
}

.tabs {
    display: flex;
}

.tab {
    font-family: graphik-regular;
    font-size: 20px;
    color: #fff;
    opacity: .7;
    text-transform: uppercase;
    padding-left: 10px;
    cursor: pointer;
}

.downtab {
    font-family: graphik-regular;
    font-size: 20px;
    color: #fff;
    opacity: .7;
    text-transform: uppercase;
    padding-right: 10px;
}

.downArrowContainer {
    display: flex;
    align-items: center;

}

.downArrow {
    cursor: pointer;
}

.sortImage {
    background-image: url('../../../static/images/storiesViewAll/sortImage.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    position: absolute;
    margin-top: 340px;
}

.sortText {
    font-family: graphik-regular;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    margin-left: 20px;
    cursor: pointer;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #78858E;
    margin-top: 20px;
}

.postContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postList {
    transition: ease-in-out 1s;
}

.postTitle {
    font-family: graphik-regular;
    font-size: 16;
    color: #fff;
    text-transform: uppercase;
    /* Linear */
    background: -webkit-linear-gradient(270deg, #E6F29B 40.02%, #8439EA 83.2%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 50px;
}

.postTitleColor {
    font-family: graphik-regular;
    font-size: 16;
    color: #fff;
    text-transform: uppercase;
    /* Linear */
    background: -webkit-linear-gradient(270deg, #63E5B9 40.02%, #E6F29B 83.2%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 50px;
}

.postSubTitle {
    font-family: graphik-regular;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
}

.postHeading {
    font-family: graphik-regular;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
}

.postDate {
    font-family: graphik-regular;
    font-size: 16px;
    color: #78858E;
    text-transform: uppercase;
}

.seeAllBtn {
    margin-top: 50px;
    height: 54px;
    width: 168px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../../../static/images/common/btnBgHover.webp);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;

    font-family: graphik-medium;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: ease-in-out .4s;
}

.seeAllBtn:hover {
    background: url(../../../static/images/common/btnBg.webp);
    transition: ease-in-out .4s;
}
.bannerContainer{
    margin-top: 100px;
}
.footerContainer{
    margin-top: 220px;
}