.backArrow {
    margin-left: 40px;
    position: fixed;
    cursor: pointer;
    top: 20px;
    z-index: 999;
}

.contantContainer {
    margin-top: 100px;
    padding-left: 135px;
    padding-right: 135px;
}
@media screen and (max-width:1000px) {
    .contantContainer {
        padding-left: 100px;
        padding-right: 100px;
    }
}
.title {
    color: #fff;
    font-family: graphik-regular;
    font-size: 60px;
    text-transform: uppercase;
}
@media screen and (max-width:800px) {
    .contantContainer {
        padding-left: 30px;
        padding-right: 30px;
    }
    .title {
        font-size: 50px;
    }
}


.tabsContainer {
    display: flex;
    justify-content: space-between;
}

.selectTab {
    font-family: graphik-regular;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    padding-left: 10px;
}

.tabs {
    display: flex;
}

.tab {
    font-family: graphik-regular;
    font-size: 20px;
    color: #fff;
    opacity: .7;
    text-transform: uppercase;
    padding-left: 10px;
    cursor: pointer;
}

.downtab {
    font-family: graphik-regular;
    font-size: 20px;
    color: #fff;
    opacity: .7;
    text-transform: uppercase;
    padding-right: 10px;
    cursor: pointer;
}

.downArrowContainer {
    display: flex;
    align-items: center;
    position: relative;

}

.downArrow {
    cursor: pointer;
}

.sortImage {
    padding-top: 20px;
    background-image: url('../../../static/images/storiesViewAll/sortImage.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 140px;
    max-height: 300px;
    top: 50px;
    right: 30px;
    position: absolute;
    overflow: hidden;
    transition: ease-in-out .3s;
    opacity: 1;
}
.sortImageHide{
    padding-top: 20px;
    background-image: url('../../../static/images/storiesViewAll/sortImage.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 140px;
    max-height: 0px;
    top: 50px;
    right: 30px;
    position: absolute;
    overflow: hidden;
    opacity: 0;
    transition: ease-in-out .3s;
}
.sortText {
    font-family: graphik-regular;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    padding-left: 0px;
    padding-left: 15px;
    margin-right: 15px;
    margin-top: -10px;
    padding-top: 3px;
    padding-bottom: 3px;
    cursor: pointer;
}
.sortText:hover {
    font-family: graphik-regular;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    padding-left: 0px;
    padding-left: 15px;
    margin-right: 15px;
    margin-top: -10px;
    padding-top: 3px;
    padding-bottom: 3px;
    cursor: pointer;
    background-color: rgba(81, 81, 81, 0.788);
}

.line {
    width: 100%;
    height: 1px;
    background-color: #78858E;
    margin-top: 20px;
}

.postContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postList {
    transition: ease-in-out 1s;
}

.postTitle {
    font-family: graphik-regular;
    font-size: 16;
    color: #fff;
    text-transform: uppercase;
    /* Linear */
    background: -webkit-linear-gradient(270deg, #E6F29B 40.02%, #8439EA 83.2%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 50px;
}
.rowItem{
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}
.rowItem:hover{
    padding-top: 10px;
    background-color: rgba(69, 69, 69, 0.331);
}
.postTitleColorBlog {
    font-family: graphik-regular;
    font-size: 16;
    color: #fff;
    text-transform: uppercase;
    /* Linear */
    background: -webkit-linear-gradient(270deg, #E6F29B 40.02%, #8439EA 83.2%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 50px;
}
.postTitleColorStories {
    font-family: graphik-regular;
    font-size: 16;
    color: #fff;
    text-transform: uppercase;
    /* Linear */
    background: linear-gradient(180deg, #63E6B9 30%, #E6F29B 83.2%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 50px;
}
.postTitleColorCase {
    font-family: graphik-regular;
    font-size: 16;
    color: #fff;
    text-transform: uppercase;
    /* Linear */
    background: linear-gradient(142.72deg, #FF5156 -2.74%, #8439EA 10.64%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 50px;
}

.postSubTitle {
    font-family: graphik-regular;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
}

.postHeading {
    font-family: graphik-regular;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
}

.postDate {
    font-family: graphik-regular;
    font-size: 16px;
    color: #78858E;
    text-transform: uppercase;
}

.seeAllBtn {
    margin-top: 50px;
    height: 54px;
    width: 168px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../../../static/images/common/btnBgHover.webp);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;

    font-family: graphik-medium;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: ease-in-out .4s;
}

.seeAllBtn:hover {
    background: url(../../../static/images/common/btnBg.webp);
    transition: ease-in-out .4s;
}
.bannerContainer{
    margin-top: 100px;
}
.footerContainer{
    margin-top: 220px;
}
@media screen and (max-width:650px) {
    .sortText {
        padding-left: 0px;
        padding-left: 15px;
        margin-right: 35px;
    }
    .sortText:hover {
        padding-left: 0px;
        padding-left: 15px;
        margin-right: 35px;
        margin-top: -10px;
    }
    .sortImage {
        left: 30px;
    }
    .sortImageHide{
        left: 30px;
    }
    .downtab {
        padding-left: 10px;
    }
    .title {
        font-size: 40px;
    }
    .backArrow {
        margin-top: 40px;
        margin-left: 20px;
    }
    .contantContainer {
        padding-left: 30px;
        padding-right: 30px;
    }
    .tabsContainer {
        display: block;
    }
}
@media screen and (max-width:530px) {
    .title {
        font-size: 30px;
    }
    .postDate {
        font-size: 11px;
    }
    .selectTab {
        font-size: 14px;
    }
    .postHeading {
        font-size: 13px;
    }
    .tab {
        font-size: 14px;
    }
    .downtab {
        font-size: 14px;
    }
    
    .postSubTitle {
        font-size: 16px;
    }
}
@media screen and (max-width:420px) {
    .title {
        font-size: 30px;
    }
    .postHeading {
        font-size: 12px;
    }
    .contantContainer {
        padding-left: 15px;
        padding-right: 15px;
    }
    .selectTab {
        font-size: 12px;
        padding-left: 5px;
    }
    .tab {
        font-size: 12px;
        padding-left: 5px;
    }
    .downtab {
        font-size: 12px;
    }
}