.main {
    height: 100vh;
    overflow: hidden;
    width: 100%;
    color: white;
    /* background-image: url(../../../static/images/stories/bg.png); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: left;
}

.upperContainer {
    margin-top: 100px;
    margin-left: 45px;
}

.heading {
    font-family: graphik-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 66px;
    /* identical to box height */

    text-transform: uppercase;

    color: #FFFFFF;
}
/* .imagesContainer:hover img:not(:hover) {
    filter: blur(4px);
    transition: ease-in-out .5s;
}
.imagesContainer:hover img:hover {
    transform: scale(1.5);
    transition: ease-in-out .8s;
} */
.btn {
    width: 168px;
    height: 54px;
    margin-top: -10px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: graphik-regular;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    background: url(../../../static/images/common/btnBg.png);
}

.imagesContainer {
    width: 100%;
    height: 100%;
}
.topContainer{
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
}
.bottomContainer{
    display: flex;
    justify-content: space-between;
    padding-left: 22%;
    margin-right: -10%;
    margin-top: -6%;
}
.singleImgContainer{
    width: 16vw;
    height: 16vw;
    overflow: hidden;
}
.imgTop{
    width: 100%;
    object-fit: cover;
}
.bgImg{
    position: absolute;
    right: 190px;
    top: 130px;
}