.bannerContainer {
    height: auto;
    background: linear-gradient(142.72deg, #FF5156 -2.74%, #8439EA 70.64%);
    width: 100%;
    margin-top: 55px;
    position: relative;
}
.leftArrow{
    cursor: pointer;
    position: absolute;
    top: 40px;
    left: 40px;
}
.bannerHeader {
    display: flex;
    padding-top: 20px;
    width: 100%;
    justify-content: center;
}

.childHeader {
    display: flex;
    justify-content: center;
    width: 80%;
    justify-content: space-between;
}

.headerBannerItem {
    text-align: center;
}

.headerTitle {
    font-family: graphik-regular;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: left;
}

.headerValue {
    font-family: graphik-regular;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 12px;
    text-align: left;
    color: #FFFFFF;
}

.bannerHeading {
    font-family: graphik-regular;
    font-style: normal;
    font-weight: 400;
    font-size: 85px;
    line-height: 94px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-left: 10%;
    padding-right: 10%;
}

.bannerImage {
    width: 80%;
}

.bannerImageContainer {
    position: relative;
    padding-bottom: 30px;
}

.playIcon {
    height: 80px;
    width: 80px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom:  0;
    text-align: center;
    cursor: pointer;
}
.body{
    min-height: 100px;
    color: white;
    display: flex;
    justify-content: center;
}
.story{
    padding-top: 60px;
    font-family: graphik-regular;
    width: 80%;
}
.tabs {
    display: flex;
    align-items: center;
}
.tab {
    font-family: graphik-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    margin-right: 20px;
    margin-bottom: 15px;
    line-height: 15px;
    width: 26px;
    height: 26px;
    text-transform: uppercase;
    background-size: contain;
    color: #7A858D;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: ease-in-out .4s;
}

.tab:hover {
    background-size: contain;
    cursor: pointer;
}