.main {
    height: 100vh;
    overflow: hidden;
    width: 100%;
    color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: left;
    position: relative;
}

.upperContainer {
    margin-top: 80px;
    margin-bottom: 50px;
    margin-left: 10%;
}

.heading {
    font-family: graphik-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 66px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.btn {
    width: 168px;
    height: 54px;
    margin-top: -10px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: graphik-regular;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    background: url(../../../static/images/common/btnBg.png);
    transition: ease-in-out .4s;
}
.btn:hover {
    background: url(../../../static/images/common/btnBgHover.png);
    transition: ease-in-out .4s;
    cursor: pointer;
}

.imagesContainer {
    width: 100%;
    transition: ease-in-out .4s;
    height: 100%;
}

.topContainer {
    width: 91vw;
    height: 300px;
    padding-left: 8%;
    margin-top: -70px;
}

.bottomContainer {
    width: 91vw;
    height: 300px;
    padding-left: 18%;
    margin-top: -120px;
}
.singleImgContainerBlur{
    margin-left: 90px;
    width: 200px !important;
    height: 200px !important;
    margin-top: 90px;
    margin-bottom: 90px;
    transform: rotateZ(45deg);
    overflow: hidden;
    transition: ease-in-out .4s;
    position: relative;
    filter: blur(3px);
}
 .singleImgContainer {
    margin-left: 90px;
    width: 200px !important;
    height: 200px !important;
    margin-top: 90px;
    margin-bottom: 90px;
    transform: rotateZ(45deg);
    overflow: hidden;
    transition: ease-in-out .4s;
    position: relative;
}
.imgTop {
    transform: rotateZ(-45deg) translateY(-20%);
    object-fit: cover;
    height: 140%;
    width: 140%;
    z-index: -1;
}
.imageCover{
    width: 200px ;
    height: 200px ;
}
.icon {
    position: absolute;
    left: 150px;
    bottom: -9px;
    width: 60px;
    height: 60px;
    opacity: 0;
    z-index: 2;
    transition: ease-in-out .4s;
    transform: rotateZ(-45deg);
}

.singleImgContainerBlur:hover {
    transform: scale(1.3) rotateZ(45deg);
    transition: ease-in-out .4s;
    filter: blur(0px);
}

.singleImgContainerBlur:hover .icon{
    position: absolute;
    left: 150px;
    bottom: -9px;
    width: 60px;
    height: 60px;
    opacity: 1;
    z-index: 2;
    transition: ease-in-out .4s;
    transform: rotateZ(-45deg);
}
.singleImgContainerBlur:hover .txtContainer {
    position: absolute;
    overflow: hidden;
    opacity: 1;
    transform: rotateZ(-45deg);
    transition: ease-in-out .4s;
}


.bgImg {
    position: absolute;
    right: 109px;
    top: 130px;
}

.txtContainer {
    position: absolute;
    overflow: hidden;
    width: 90%;
    margin-top: 40px;
    opacity: 0;
    z-index: 2;
    transform: rotateZ(-45deg);
    transition: ease-in-out .4s;
}

.title {
    z-index: 2;
    font-family: graphik-regular;
    text-align: left;
    padding-left: 8px;
    font-style: normal;
    font-weight: 600;
    padding-right: 0px;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: ease-in-out .4s;
}

.description {
    width: 100%;
    text-align: left;
    margin-left: 8px;
    margin-right: 10px;
    margin-top: -13px;
    font-family: graphik-regular;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    color: #FFFFFF;
}
.bgImgBtm{
    position: absolute;
    left: 25px;
    bottom: 0px;
}
@media only screen and (max-width:1300px){

    .description {
        margin-left: 15px;
        margin-right: 10px;
        margin-top: -13px;
    }
    .title {
        margin-top: 34px;
        margin-left:7px;
    }


}
@media only screen and (max-width:1100px){

    .imagesContainer{
        margin-top: 10%;
    }
    .description {
        margin-left: 20px;
        margin-right: 10px;
        margin-top: -13px;
    }
    .title {
        margin-left:20px;
        font-size: 12px;
    }

}
@media only screen and (max-width:1000px){

    .imagesContainer{
        margin-top: 10%;
    }
}