body {
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
  height: 100vh;
}
.container {
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.panel {
  min-width: 100vw;
}

