body {
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
  height: 100vh;
}

.container {
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.panel {
  min-width: 100vw;
}

.meinContainerAnimated {
  width: 200px;
  height: 200px;
  position: absolute;
  perspective: 1000px;
}


.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
}

.cube div {
  margin: 0;
  width: 196px;
  height: 196px;
  display: block;
  position: absolute;
  /* 	border: 2px solid green; */
  /* 	opacity: 0.5; */
}

.cube .first {
  transform: rotateY(0deg) translateZ(130px);
}

.cube .second {
  transform: rotateX(0deg) translateZ(100px) scale(0.98);
  opacity: 0.9;
}

.cube .third {
  opacity: 0.8;
  transform: rotateX(0deg) translateZ(70px) scale(0.96);
}

.cube .fourth {
  opacity: 0.5;
  transform: rotateX(0deg) translateZ(40px) scale(0.94);
}

.cube .fifth {
  opacity: 0.4;
  transform: rotateX(0deg) translateZ(20px) scale(0.92);
}

.cube .sixth {
  opacity: 0.3;
  transform: rotateX(0deg) translateZ(0px) scale(0.90);
}

/* ===================================================================================================================== */

/* ========================================================Custom Dots================================================== */

/* ===================================================================================================================== */


.button__bar {
  display: inline-block;
  vertical-align: middle;
  margin: auto;
  padding: 0;
  border-radius: 40px;
  text-align: center;
  position: absolute;
  bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 7vw;

}

@media only screen and (max-width:1450px) {
  .button__bar {
    bottom: 35px;
  }
}

@media only screen and (max-width:1100px) {
  .button__bar {
    bottom: 35px;
  }
}

@media only screen and (max-width:900px) {
  .button__bar {
    bottom: 15px;
  }
}

.button__bar li {
  list-style: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 3px;
  padding: 0;
}

.button__bar li button {
  border: none;
  background: url(../../static/images/common/dot.png);
  background-size: contain;
  background-repeat: no-repeat;
  color: transparent;
  cursor: pointer;
  display: block;
  height: 20px;
  width: 20px;
  border-radius: 7.5px;
}

.button__bar li.slick-active button {
  border: none;
  background: url(../../static/images/common/dotActive.png);
  background-size: contain;
  background-repeat: no-repeat;
  color: transparent;
  cursor: pointer;
  display: block;
  height: 20px;
  width: 20px;
  border-radius: 7.5px;
}





/* ===================================================================================================================== */

/* ======================================================== End Custom Dots================================================== */

/* ===================================================================================================================== */



/* ===================================================================================================================== */

/* ========================================================Custom Dots StoryLayout================================================== */

/* ===================================================================================================================== */


.button__bar2 {
  margin: auto;
  width: 100%;
  margin-top: -10px;
}

.button__bar2 li {
  list-style: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 3px;
  padding: 0;
}
.button__bar2 li::before {
 opacity: 0;
}
.button__bar2 li button {
  border: none;
  background: url(../../static/images/common/dot.png);
  background-size: contain;
  background-repeat: no-repeat;
  color: transparent;
  cursor: pointer;
  display: block;
  height: 20px;
  width: 20px;
  border-radius: 7.5px;
}

.button__bar2 li.slick-active button {
  border: none;
  background: url(../../static/images/common/dotActive.png);
  background-size: contain;
  background-repeat: no-repeat;
  color: transparent;
  cursor: pointer;
  display: block;
  height: 20px;
  width: 20px;
  border-radius: 7.5px;
}





/* ===================================================================================================================== */

/* ======================================================== End Custom Dots================================================== */

/* ===================================================================================================================== */